body {
	background-color: #19202e;
}

.forest-sprites {
	position: relative;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.sprite-bodies {
}

.sprite-head {
	position: absolute;
	width: 12%;
}

.sprite-head:hover {
	animation: shake 0.2s;
	animation-iteration-count: infinite;
}

.head-1 {
	left: 1%;
	top: -5%;
}

.head-2 {
	left: 17%;
	top: 33%;
}

.head-3 {
	left: 57%;
	top: 32%;
}

.head-4 {
	left: 85%;
	top: 57%;
}

@keyframes shake {
	0% {
		transform: translateX(0px) rotate(0deg);
	}
	30% {
		transform: rotate(3deg);
	}
	100% {
		transform: translateX(2px) rotate(-4deg);
	}
}
